#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar
*.DS_Store
/out/

### Gradle ###
gradle/
.gradle
/build/
*gradlew
*gradlew.bat
settings.gradle
gradle-app.setting

/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*