#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
*.class
*.info
*.properties
*.jar
.DS_Store

/1.JavaSyntax/
/3.JavaMultithreading/
/4.JavaCollections/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*